%h1
  Hello
%p
  = "community #{@current_community}"
%p
  = "listing #{@listing}"
%p
  = "listing id #{@listing.id}"  
%p
  = "pid #{@listing.transaction_process_id}"
%p
  = "open #{@listing.open}"
%p
  = foo 
